* {
    margin: 0;
    padding: 0;
}

.bodyHome {
    background-color: rgb(0, 0, 0);
    
}

.container {
    margin-top: 9em;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 7em;
    color: rgb(255, 255, 255);
}

.container p {
    font-family: renaultRegular;
}
.mainImg {
    width: 30%;
}

.h1Top{
    font-family: 'renaultMolde' ;
    font-size: 36px;
}

.h1Bottom{
    padding-bottom: 3%;
}