@font-face {
  font-family: 'renaultBold' ;
    src: url('./../fontface/RenaultGroupBold.otf');
}

@font-face {
  font-family: 'renaultRegular' ;
    src: url('./../fontface/RenaultGroupRegular.otf');
}

@font-face {
  font-family: 'renaultMolde' ;
    src: url('./../fontface/Molde-SemiExpanded-Light.ttf');
}

@font-face {
  font-family: 'renaultMoldeBold' ;
    src: url('./../fontface/Fontspring-DEMO-molde-expanded-black.otf');
}

*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  width: 100vw;
  font-family: renaultBold;
}